@{
	ViewBag.Title = "Report";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container card my-4  container-height ">


	<div class="row p-3">
		<div class="col-md-12">
			<span class="h5 pt-1"><strong>Reports</strong></span>
		</div>
	</div>
	<hr class="m-0" />
	<div class="row">
		<div class=" mt-1 col-md-12">
			<p class="lead">Download reports</p>

			<ul class="list-group">
				<a href="#" class="list-group-item list-group-item-action"> <i class="fas fa-download fa-sm text-black-50"></i>&nbsp;Consolidate Grievance Report</a>
				<a href="#" class="list-group-item list-group-item-action"> <i class="fas fa-download fa-sm text-black-50"></i>&nbsp;Detailed  Grievance Report</a>
				<a href="#" class="list-group-item list-group-item-action">  <i class="fas fa-download fa-sm text-black-50"></i>&nbsp;Grievance Report Based On Action Taken</a>
				<a href="#" class="list-group-item list-group-item-action">  <i class="fas fa-download fa-sm text-black-50"></i>&nbsp;Report Based On Pending Grievance </a>
				<a href="#" class="list-group-item list-group-item-action "> <i class="fas fa-download fa-sm text-black-50"></i>&nbsp;Report Based On Closed Grievance</a>
			</ul>
		</div>
	</div>
</div>
