@model GrievanceSystem_Mvc.ViewModels.GrievanceViewModel

<td>
	@Model.GrievanceID
</td>

<td>
	@Model.Subject
</td>
<td>
	@Model.Description
</td>
<td>
	@Model.ReportedDate
</td>
<td>
	@*@Model.Status*@ close
</td>


